header {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

#charactorFilter {
    border-collapse: collapse; /* 合并单元格边框 */
    width: 80%; /* 设置表格的宽度，可以根据需要调整 */
    margin: 0 auto; /* 使表格在页面中居中 */
}

#charactorFilter th, #charactorFilter td {
    border: 1px solid #000; /* 为表头和单元格添加边框 */
    padding: 10px; /* 添加内边距，使单元格内容更易读 */
}

#characterList {
    padding: 0 20vh; /* 左右内边距为20% */
}

#characterList button {
    margin: 10px; /* 添加外边距 */
    width: 100px; /* 设置按钮宽度为100px */
    height: 300px; /* 设置按钮高度为300px */
}