@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 0 10px;
}

.flagC {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b2b2b2;
}

.switch input {
    display: none
}

input:checked+.flagC {
    background-color: red;
}

#boardNormal {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.checked, .flag {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#boardNormal .checked , #boardNormal .flag{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    user-select: none;
}

#boardNormal .valid ,#boardNormal .mines{
    width: 40px;
    height: 40px;
    background-color: grey;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.one {
    color: #96d35f;
}

.two {
    color: #d9ec37;
}

.three {
    color: #fff76b;
}


.four {
    color:#ffd977;
}

.five {
    color:#ffc777;
}

.six {
    color: #ffa57d;
}

.seven {
    color: #ff8c82;
}

.eight {
    color: #ff6250;
}

.nine {
    color: #ff4015;
}

#boardMedium {
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

#boardMedium .checked , #boardMedium .flag{
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    user-select: none;
}

#boardMedium .valid ,#boardMedium .mines{
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 1px solid #fff;
    box-sizing: border-box;
}

#boardHard {
    width: 900px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

#boardHard .checked , #boardHard .flag{
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    user-select: none;
}

#boardHard .valid ,#boardHard .mines{
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.gameOver, .win{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.gameOverText, .winText {
    background-color: rgba(255, 255, 255, 0.685);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}