body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board-normal{
    width: 400px;
    height: 400px;
    display: grid;
    grid-gap: 1px;
}

.board-medium{
    width: 400px;
    height: 400px;
    display: grid;
    grid-gap: 1px;
}

.board-hard{
    width: 400px;
    height: 400px;
    display: grid;
    grid-gap: 1px;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #c0c0c0; /* 未翻开格子的颜色 */
    border: 1px solid #fff; /* 格子边框 */
    text-align: center;
    line-height: 40px;
    cursor: pointer; /* 鼠标指针样式 */
}

.cell.revealed {
    background-color: #f0f0f0; /* 翻开的格子的颜色 */
}
