@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boardNormal {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}

.checked, .flag {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.mines {
    background-image: url("kun.png");
}

#boardNormal .checked , #boardNormal .flag{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    user-select: none;
}

#boardNormal .valid ,#boardNormal .mines{
    width: 40px;
    height: 40px;
    background-color: grey;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.one {
    color: #96d35f;
}

.two {
    color: #d9ec37;
}

.three {
    color: #fff76b;
}


.four {
    color:#ffd977;
}

.five {
    color:#ffc777;
}

.six {
    color: #ffa57d;
}

.seven {
    color: #ff8c82;
}

.eight {
    color: #ff6250;
}

.nine {
    color: #ff4015;
}

#boardMedium {
    width: 900px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}

#boardMedium .checked , #boardMedium .flag{
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    user-select: none;
}

#boardMedium .valid ,#boardMedium .mines{
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 1px solid #fff;
    box-sizing: border-box;
}

#boardHard {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}

#boardHard .checked , #boardHard .flag{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    user-select: none;
}

#boardHard .valid ,#boardHard .mines{
    width: 40px;
    height: 40px;
    background-color: grey;
    border: 1px solid #fff;
    box-sizing: border-box;
}
