#appendix {
    background-color: blueviolet;
}

.appendixCon {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.appendixWeb {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.title {
    font-size: 30px;
}

.subtitle {
    font-size: 24px;
}

.link {
    font-size: 20px;
    color: black;
    z-index: 100;
}

a:hover {
    color: grey;
}

.seperate {
    width: 5px;
    height: 800px;
    background-color: white;
    border-radius: 3px;
}