@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --intro-txt-size: 60px;
  --intro-ani-size: calc(var(--intro-txt-size) * 1.5);
  --intro-ani-block: calc(var(--intro-txt-size) * 6);
}

html {
  scroll-snap-type: y mandatory;
  scroll-margin-top: 75px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "poppins", "Noto Sans SC", sans-serif;
  font-weight: 400;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 50px;
  background: #00bcd4;
  transition: 0.7s all;
  z-index: 100;
}

body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.logo {
  float: left;
  color: #fff;
  font-size: 50px;
  transition: 0.7s all;
}

body.header-fixed .logo {
  font-size: 30px;
}

.nav_item {
  list-style-type: none;
  display: inline;
  float: right;
}

.nav_item li {
  display: inline;
}

.nav_item a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  z-index: 0;
  font-size: 20px;
  position: relative;
}

.nav_item a:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 0px;
  background: #FFF;
  content: "";
  opacity: 1;
  transition: all 0.3s;
}

.nav_item a:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 1;
  transition: all 0.3s;
}

.nav_item a:hover:before {
  height: 100%;
}

.nav_item a:hover:after {
  opacity: 0;
  top: 100%;
}

.container {
  background-color: rgb(83, 173, 14);
  padding-top: 125px;
  position: relative;
}

section{
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: grid;
}

.home {
  background-color: aquamarine;
  top:125px;
  scroll-margin-top: 125px;
  height: calc(100vh - 125px);
}

.scroll {
  scroll-margin-top: 60px;
}

.about-us {
  background-color: red;
  height: calc(100vh - 60px);
}

.about-us h1 {
  color: white;
  font-size: 60px;
}

.intro {
  display: flex;
  font-size: var(--intro-txt-size);
}

.animated-txt {
  margin-block-start: 0;
  padding: 0;
  padding-inline-start: 0;
  height: var(--intro-ani-size);
  overflow: hidden;
}

.animated-txt li {
  list-style: none;
  color: white;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: calc(var(--intro-ani-block) * -1);
  }
}

.animated-txt li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  border-left: 2px solid white;
  animation: typing 1.5s steps(3) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 2px);
  }

  100% {
    left: 0;
  }
}

.project {
  background-color: blue;
  height: calc(100vh - 60px);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(155, 153, 153);
  position: relative;
  margin: 0px;
}

.footer_item {
  margin: 30px;
  background-color: grey;
  width: 30%;
}

.img_link a,
.ref_link a {
  color: white;
  text-decoration: none;
  display: block;
}