* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: red;
}

.container {
    width: 80%;
    min-height: 100vh;
    margin: 70px auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    /* 使元素垂直排列 */
    align-items: center;
    /* 水平居中 */
    justify-content: flex-start;
    /* 垂直对齐到开始位置 */
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.lv {
    background-color: grey;
    border-radius: 25%;
    width: fit-content;
    margin: 0 auto
}

.charactor,
.weapon {
    margin: 50px 30px;
    text-align: center;
}

.charactor {
    width: 50%;
}

.weapon {
    display: block;
    width: 50%;
}

.weapon-ei {
    text-align: center;
}

.slide-bar {
    width: 70%;
    height: 5px;
    background-color: lightgray;
    position: relative;
    margin: 50px auto;
}

.slider-handle {
    width: 20px;
    height: 20px;
    background-color: dodgerblue;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    cursor: pointer;
}

.eidolon {
    margin-top: 100px;
    border-collapse: collapse;
    /* 合并单元格边框 */
    width: 80%;
    /* 设置表格的宽度，可以根据需要调整 */
    margin: 0 auto;
    /* 使表格在页面中居中 */
    order: 2;
}

.eidolon th,
.eidolon td {
    border: 1px solid #000;
    /* 为表头和单元格添加边框 */
    padding: 10px;
    /* 添加内边距，使单元格内容更易读 */
}

.eidolon th,
.eidolon td:first-child {
    width: 70px;
    /* 设置第一行单元格的宽度为70px */
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b2b2b2;
    transition: .4s;
    border-radius: 34px;
}

.switch input {
    display: none
}

.slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked+.slider {
    background-color: red;
}

input:checked+.slider:before {
    transform: translateX(23px);
}

.combat-skill {
    margin-top: 100px;
    border-collapse: collapse;
    /* 合并单元格边框 */
    width: 80%;
    /* 设置表格的宽度，可以根据需要调整 */
    margin: 0 auto;
    /* 使表格在页面中居中 */
    order: 2;
}

.combat-skill th,
.combat-skill td {
    border: 1px solid #000;
    /* 为表头和单元格添加边框 */
    padding: 10px;
    /* 添加内边距，使单元格内容更易读 */
}

.combat-skill th,
.combat-skill td:first-child {
    width: 70px;
    /* 设置第一行单元格的宽度为70px */
}